<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercao Liebre</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="home">
    <header class="home__header">
        <nav class="home__header--nav">
            <img class="header--nav-logo" src="/images/logo-mercado-liebre.svg" alt=" logo mercado libre" >
            <div class="header--nav-search">
                <input type="search" name="q" id="buscar" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
             <div class="header--nav-target"><!--style="display: flex; align-items:center;" -->
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <!-- <h4>Compra en cuotas y sin tarjeta de crédito</h4> -->
                <p><b>Compra en cuotas y sin tarjeta de crédito</b></p>
            </div>
            <div class="header--nav-links">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
            <div class="header--nav-bars">
                <div><i class="fa-solid fa-bars"></i></div>
            </div>
        </nav>     
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="300">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro" width="300">
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10" width="300">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen samsung smart" width="300">
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="300">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong>r</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro" width="300">
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10" width="300">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen samsung smart" width="300">
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="foooter--content-section">
            <article class="conotent-section-article">
                <i class="fa-solid fa-credit-card"></i>
                <h4>Paga con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="conotent-section-article">
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="conotent-section-article">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En mercado libre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
            </article>
        </div>
        <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>

    </footer>
</body>
</html>