<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercao Liebre</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav>
            <img src="/images/logo-mercado-liebre.svg" alt=" logo mercado libre" >
            <div>
                <input type="search" name="q" id="buscar" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
             <div><!--style="display: flex; align-items:center;" -->
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta</p>
            </div>
            <div>
                <ul>
                    <li><a href="#">ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Crea tu cuenta</a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </div>
        </nav>     
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="300">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro" width="300">
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10" width="300">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen samsung smart" width="300">
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="300">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen macbook pro" width="300">
                <div>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung galaxy s10" width="300">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen samsung smart" width="300">
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h5>SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <div>
                <p><b>Paga con efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </div>
        <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>

    </footer>
</body>
</html>