/* HEADER */
.home__header{
    padding: 20px;
}
.header--nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}
.header--nav-logo{
    width: 40%;
    /* margin-left: 30px; */
    /* background-color: orange; */
}

.header--nav-search{
    margin: 15px 18px;
    /* background: rebeccapurple; */
    position: relative;
    width: 40%;
    /* background-color: rebeccapurple; */
    /* display: flex;
    align-items: center; */
}
.header--nav-search #buscar{
    width: 100%;
    padding: 10px 5px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
    /* position: relative; */
}
.header--nav-search .fa-solid{
    /* background-color: white;
    margin-left: 5px; */
    padding: 10px 2px;
    /* border: 1px solid var(--colorDarkGray); */
    /* border-top-left-radius: 4px; */
    position: absolute;
    top: 0;
    right: 0;
}
.header--nav-target{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.header--nav-target p{
    color: black;
    font-weight: 600;
    font-size: 0.875rem;
}
.header--nav-links{
    display: none;
}

.header--nav-bars{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.header--nav-bars i{
    color: var(--colorLightGray);
    font-size: 1.5rem;
    background-color: var(--colorSkyBlue);
    padding: 10px;
    border-radius: 5px;
}
/* MAIN */
.main__section-banner img{
    width: 100%;
}
.main__section h3{
    font-family: var(--tipografiaRoboto);
    font-weight: 900;
    font-size: 1.2rem;
    color: gray;
    margin-top: 10px;
}
.main__section--article img{
    width: 100%;
    padding: 15px;
}
.main__section--article{
    margin-top: 10px;
    background-color: white;
} 
.main__section--article-box{
    border-top: 1px solid var(--colorLightGray);
    padding: 15px;
    position: relative;
    /* background-color: aqua; */
}
.main__section--article-box i{
    border: 1px solid var(--colorGreen);
    border-radius: 50%;
    padding: 8px 7px;
    color: var(--colorGreen);
    position: absolute;
    background-color: white;
    right: 20px;
    top: -20px;
}
.box-description{
    display: flex;
    align-items: center;
    gap: 10%;
    /* background-color: red; */
}
.box-description p:first-child{
    font-size: 1.2rem;
    font-weight: 900;
    /* width: 30%; */
}
.box-description p:last-child{
    font-size: 1rem;
    color: var(--colorGreen);
    font-weight: 600;
    /* width: 70%; */
}
.main__section--article-box h5{
    margin-top: 20px;
}

/* FOOTER */

.foooter--content-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foooter--content-section .conotent-section-article{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.foooter--content-section .conotent-section-article i{
    font-size: 2em;
    color: var(--colorSkyBlue);
    margin-bottom: 10px;
}
.foooter--content-section .conotent-section-article h4{
    color: var(--colorDarkGray);
    font-weight: 800;
}

small{
    margin-left: 20px;
    color: var(--colorDarkGray);
    font-size: 12px;
}

@media (min-width: 481px){
    /* HEADER */
    /* .header--nav-search{
        width: 40%;;
    } */
    .header--nav-container{
        justify-content: space-between;
        align-items: center;
    }
    .header--nav-container img, .header--nav-search,.header--nav-target{
        width: 30%;
    }
    .header--nav-container img{
        margin-left:0;  
    }
    
    .header--nav-search #buscar{
        width: 100%;
    }
    .header--nav-target p{
        font-size: 0.6rem;
    }
    .home__header--nav .header--nav-links{
        display: flex;
        justify-content: space-between;
        margin:20px 0 0 0;
    }
    .header--nav-links ul{
        display: flex;
        /* background-color: red; */
    }
    .header--nav-links ul li{
        margin-right: 8px;
    }
    .header--nav-links ul li a{
        font-size: 0.6rem;
        color: black;
        margin-right: 3px;
        /* width: 15%; */
    }
    .header--nav-bars{
        display: none;
    }
    /* MAIN */
    .main__section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main__section h3{
        width: 100%;
    }
    .main__section--article{
        width: 48%;
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px){
    /* HEADER */
    .header--nav-search{
        width: 30%;
    }
    .header--nav-search #buscar{
        width: 100%;
    }
    .header--nav-container img, .header--nav-search,.header--nav-target{
        width: 31%;
    }
    .header--nav-target{
        justify-content: end;
    }
    .header--nav-target p{
        font-size: 1rem;
    }
    .header--nav-links ul li a{
        font-size: 1rem;
        /* color: black; */
        /* margin-right: 3px; */
        /* width: 15%; */
    }
    /* MAIN */
    .main__section--article{
        width: 23%;
        /* box-shadow: 0 0 10px rgb(100, 100, 100); */
    }
}