/* HEADER */
.home__header{
    padding: 20px;
}
.header--nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 15px 0;
    width: 100%;
}

.header--nav-logo{
    /* width: 50%; */
    width: 40%;
}

.header--nav-search{
    position: relative;
    width: 50%;
}
.header--nav-search #buscar{
    width: 100%;
    padding: 10px 5px;
    padding-right: 30px;
    border: none;
    border-radius: 3px;
    font-size: 0.8rem;
}
.header--nav-search a{
    padding: 9px 0;
    position: absolute;
    top: 0;
    right: 5px;
}
.header--nav-search .fa-solid{
    font-size: 1.2rem;
    border-left: 1px solid var(--colorLightGray);
    padding-left: 10px;
    color: var(--colorDarkGray);
}
.header--nav-target{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--nav-target p{
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    margin-left: 8px;
}
.header--nav-links{
    display: none;
}
.header--nav-links li i{
    font-size: 0.8rem;
}

.header--nav-bars{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.header--nav-bars i{
    color: var(--colorLightGray);
    font-size: 1.5rem;
    background-color: var(--colorSkyBlue);
    padding: 10px;
    border-radius: 5px;
}
/* MAIN */
.main__section-banner img{
    width: 100%;
}
.main__section h3{
    font-family: var(--tipografiaRoboto);
    font-weight: 900;
    font-size: 1.2rem;
    color: gray;
    margin-top: 10px;
}
.main__section--article img{
    width: 100%;
    padding: 15px;
}
.main__section--article{
    margin-top: 10px;
    background-color: white;
} 
.main__section--article-box{
    border-top: 1px solid var(--colorLightGray);
    padding: 15px;
    position: relative;
}
.main__section--article-box i{
    border: 1px solid var(--colorGreen);
    border-radius: 50%;
    padding: 8px 7px;
    color: var(--colorGreen);
    position: absolute;
    background-color: white;
    right: 20px;
    top: -20px;
}
.box-description{
    display: flex;
    align-items: center;
    gap: 10%;
}
.box-description p:first-child{
    font-size: 1.2rem;
    font-weight: 900;
}
.box-description p:last-child{
    font-size: 1rem;
    color: var(--colorGreen);
    font-weight: 600;
}
.main__section--article-box h5{
    margin-top: 20px;
}

/* FOOTER */

.foooter--content-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foooter--content-section .conotent-section-article{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.foooter--content-section .conotent-section-article i{
    font-size: 2em;
    color: var(--colorSkyBlue);
    margin-bottom: 10px;
}
.foooter--content-section .conotent-section-article h4{
    color: var(--colorDarkGray);
    font-weight: 800;
}

small{
    margin-left: 20px;
    color: var(--colorDarkGray);
    font-size: 12px;
}

@media (min-width: 481px){
    /* HEADER */
    .home__header--nav{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .header--nav-container{
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .header--nav-container img{
        width: 30%;
        margin-left:0;  
    }
    .header--nav-search{
        flex-grow: 0.50;
    }
    .header--nav-search #buscar{
        width: 100%;
        font-size: 0.8rem;
    }
    .header--nav-target{
        flex-grow: 0;
    }
    .header--nav-target p{
        font-size: 0.62rem;
        font-weight: 600;
    }
    .home__header--nav .header--nav-links{
        display: flex;
        justify-content: space-between;
    }
    .header--nav-links ul{
        display: flex;
    }
    .header--nav-links ul li{
        margin-right: 8px;
    }
    .header--nav-links ul li a{
        font-size: 0.62rem;
        color: black;
        margin-right: 3px;
        font-weight: 600;
    }
    .header--nav-bars{
        display: none;
    }
    /* MAIN */
    .main__section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main__section h3{
        width: 100%;
    }
    .main__section--article{
        width: 48%;
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px){
    /* HEADER */
    .header--nav-container{
        justify-content: space-between;
    }
    .header--nav-search{
        width: 30%;
    }
    .header--nav-search #buscar{
        width: 100%;
    }
    .header--nav-container img{
        width: 25%;
    }
    .header--nav-target p{
        font-size: 1rem;
    }
    .header--nav-links ul li{
        margin-right: 15px;
        font-size: 1.2rem;
    }
    .header--nav-links ul li a{
        font-size: 1rem;
        font-weight: 700;
    }

    /* MAIN */
    .main__section--article{
        width: 23%;
    }
}