/* HEADER */
.home__header{
    padding: 20px 0;
}
.header--nav-logo{
    width: 37%;
    margin-left: 30px;
}

.header--nav-search{
    margin: 15px 18px;
    background: rebeccapurple;
    position: relative;
    width: 60%;
    /* display: flex;
    align-items: center; */
}
.header--nav-search #buscar{
    width: 100%;
    padding: 4px;
    padding-right: 15px;
    /* border: 1px solid var(--colorDarkGray); */
    /* border-radius: 3px; */
    /* position: relative; */
}
.header--nav-search .fa-solid{
    /* background-color: white;
    margin-left: 5px; */
    padding: 4px;
    /* border: 1px solid var(--colorDarkGray); */
    /* border-top-left-radius: 4px; */
    position: absolute;
    top: 2px;
    right: 0;
}
.header--nav-target{
    display: flex;
    justify-content: center;
}
.header--nav-target p{
    color: black;
    font-weight: 600;
    font-size: 0.875rem;
}
.header--nav-links{
    display: none;
}
.header--nav-links ul{
    margin-top: 20px;
}
.header--nav-links ul li a{
    color: black;
    margin-right: 10px;
    font-weight: bold;
}

.header--nav-bars{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.header--nav-bars i{
    color: var(--colorLightGray);
    font-size: 1.5rem;
    background-color: var(--colorSkyBlue);
    padding: 10px;
    border-radius: 5px;
}
/* MAIN */
.main__section-banner img{
    width: 100%;
}
.main__section h3{
    font-family: var(--tipografiaRoboto);
    font-weight: 900;
    font-size: 1.2rem;
    color: gray;
    margin-top: 10px;
}
.main__section--article img{
    width: 100%;
    padding: 15px;
}
.main__section--article{
    margin-top: 10px;
    background-color: white;
} 
.main__section--article-box{
    border-top: 1px solid var(--colorLightGray);
    padding: 15px;
}
.main__section--article-box i{
    border: 1px solid var(--colorGreen);
    border-radius: 50%;
    padding: 8px 7px;
    color: var(--colorGreen);
}
.box-description p:first-child{
    font-size: 1.2rem;
    font-weight: 900;
}
.box-description p:last-child{
    font-size: 1rem;
    color: var(--colorGreen);
    font-weight: 600;
}
.main__section--article-box h5{
    margin-top: 20px;
}

/* FOOTER */

.foooter--content-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foooter--content-section .conotent-section-article{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.foooter--content-section .conotent-section-article i{
    font-size: 2em;
    color: var(--colorSkyBlue);
    margin-bottom: 10px;
}
.foooter--content-section .conotent-section-article h4{
    color: var(--colorDarkGray);
    font-weight: 800;
}

small{
    margin-left: 20px;
    color: var(--colorDarkGray);
    font-size: 12px;
}

@media (min-width: 481px){
    /* HEADER */
    .header--nav-search{
        width: 40%;;
    }
    .header--nav-search #buscar{
        width: 100%;
    }
    .home__header--nav .header--nav-links{
        display: block;
        margin:20px 0 0 10px;
    }
    .header--nav-links ul{
        margin-top: 0;
    }
    .header--nav-bars{
        display: none;
    }
    /* MAIN */
    .main__section--article{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}
@media (min-width: 769px){
    .header--nav-search{
        width: 30%;
    }
    .header--nav-search #buscar{
        width: 100%;
    }
}